# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
blur busters UFOs - on white.png
blur busters UFOs - on black.png
blur busters UFO x4.png
blur busters UFO x1.png
blur busters SINGLE UFO x4 - on white.png
blur busters SINGLE UFO x4 - on black.png
